@{
    ViewData["Title"] = "Gestión de Inventario";
}
<div class="jumbotron text-center">
    <h1 class="display-4">¡Bienvenido al Inventario!</h1>
    <p class="lead">Aquí podras gestionar el Inventario</p>
</div>
<div class="users-container mt-5">
    <div class="card shadow-lg" style="border-radius: 10px;">
        <div class="card-header text-white text-center" style="background-color: #003366; font-size: 1.5rem; font-family: 'Merriweather', serif;">
            Gestión del Inventario
        </div>
        <div class="card-body" style="font-family: 'Arial', sans-serif; color: #003366;">
            <form asp-action="Index" method="GET" class="mb-4">
                <div class="row">
                    
                    <div class="col-md-6">
                        <label for="searchNameI" class="form-label">Buscar por Nombre</label>
                        <input type="text" id="searchNameI" name="searchNameI" class="form-control" placeholder="Ingrese el nombre">
                    </div>
                </div>
                <button type="submit" class="btn btn-primary mt-3 w-100" style="background-color: #66b2ff; color: #FFFFFF;">Aplicar Filtros</button>
            </form>
            <h3>Productos</h3>
            <div class="mb-3 text-end">
                <a asp-controller="Home" asp-action="AgregarProducto" class="btn btn-primary" style="background-color: #66b2ff; color: #FFFFFF;">Agregar Producto</a>
            </div>
            <table class="table table-striped">
                <thead style="background-color: #003366; color: #FFFFFF;">
                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Tipo</th>
                        <th>Fabricante</th>
                        <th>Precio</th>
                        <th>Cantidad/Stock</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Colgate Total 12</td>
                        <td>Pasta dental</td>
                        <td>Colgate-Palmolive</td>
                        <td>₡2,800</td>
                        <td>8</td>
                        <td>
                            <a asp-controller="Home" asp-action="ModificarProducto" asp-route-id="1" class="btn btn-sm edit-btn">Modificar</a>
                            <a asp-action="Delete" asp-route-id="1" class="btn btn-sm delete-btn">Eliminar</a>
                        </td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Colgate Optic White</td>
                        <td>Pasta dental</td>
                        <td>Colgate-Palmolive</td>
                        <td>₡3,000</td>
                        <td>5</td>
                        <td>
                            <a asp-controller="Home" asp-action="ModificarProducto" asp-route-id="2" class="btn btn-sm edit-btn">Modificar</a>
                            <a asp-action="Delete" asp-route-id="2" class="btn btn-sm delete-btn">Eliminar</a>
                        </td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Colgate Sensitive Pro-Relief</td>
                        <td>Pasta dental</td>
                        <td>Colgate-Palmolive</td>
                        <td>₡3,250</td>
                        <td>4</td>
                        <td>
                            <a asp-controller="Home" asp-action="ModificarProducto" asp-route-id="3" class="btn btn-sm edit-btn">Modificar</a>
                            <a asp-action="Delete" asp-route-id="3" class="btn btn-sm delete-btn">Eliminar</a>
                        </td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>Colgate Luminous White</td>
                        <td>Pasta dental</td>
                        <td>Colgate-Palmolive</td>
                        <td>₡4,000</td>
                        <td>12</td>
                        <td>
                            <a asp-controller="Home" asp-action="ModificarProducto" asp-route-id="4" class="btn btn-sm edit-btn">Modificar</a>
                            <a asp-action="Delete" asp-route-id="4" class="btn btn-sm delete-btn">Eliminar</a>
                        </td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>Oral-B Pro-Expert Protección Profesional</td>
                        <td>Pasta dental</td>
                        <td>Protector & Gamble</td>
                        <td>₡2,800</td>
                        <td>7</td>
                        <td>
                            <a asp-controller="Home" asp-action="ModificarProducto" asp-route-id="5" class="btn btn-sm edit-btn">Modificar</a>
                            <a asp-action="Delete" asp-route-id="5" class="btn btn-sm delete-btn">Eliminar</a>
                        </td>
                    </tr>
                    <tr>
                        <td>6</td>
                        <td>Oral-B 3D White Brillante Blanqueamiento</td>
                        <td>Pasta dental</td>
                        <td>Protector & Gamble</td>
                        <td>₡3,800</td>
                        <td>9</td>
                        <td>
                            <a asp-controller="Home" asp-action="ModificarProducto" asp-route-id="6" class="btn btn-sm edit-btn">Modificar</a>
                            <a asp-action="Delete" asp-route-id="6" class="btn btn-sm delete-btn">Eliminar</a>
                        </td>
                    </tr>
                    <tr>
                        <td>7</td>
                        <td>Elgydium Kids</td>
                        <td>Pasta dental</td>
                        <td>Pierre Fabre Oral Care</td>
                        <td>₡2,200</td>
                        <td>5</td>
                        <td>
                            <a asp-controller="Home" asp-action="ModificarProducto" asp-route-id="7" class="btn btn-sm edit-btn">Modificar</a>
                            <a asp-action="Delete" asp-route-id="7" class="btn btn-sm delete-btn">Eliminar</a>
                        </td>
                    </tr>
                    <tr>
                        <td>8</td>
                        <td>Oral-B Superfloss</td>
                        <td>Hilo dental</td>
                        <td>Protector & Gamble</td>
                        <td>₡2,750</td>
                        <td>10</td>
                        <td>
                            <a asp-controller="Home" asp-action="ModificarProducto" asp-route-id="8" class="btn btn-sm edit-btn">Modificar</a>
                            <a asp-action="Delete" asp-route-id="8" class="btn btn-sm delete-btn">Eliminar</a>
                        </td>
                    </tr>
                    <tr>
                        <td>9</td>
                        <td>Oral-B Satin Floss</td>
                        <td>Hilo dental</td>
                        <td>Protector & Gamble</td>
                        <td>₡3,500</td>
                        <td>6</td>
                        <td>
                            <a asp-controller="Home" asp-action="ModificarProducto" asp-route-id="9" class="btn btn-sm edit-btn">Modificar</a>
                            <a asp-action="Delete" asp-route-id="9" class="btn btn-sm delete-btn">Eliminar</a>
                        </td>
                    </tr>
                    <tr>
                        <td>10</td>
                        <td>Colgate Total 12</td>
                        <td>Hilo dental</td>
                        <td>Colgate-Palmolive</td>
                        <td>₡3,200</td>
                        <td>5</td>
                        <td>
                            <a asp-controller="Home" asp-action="ModificarProducto" asp-route-id="10" class="btn btn-sm edit-btn">Modificar</a>
                            <a asp-action="Delete" asp-route-id="10" class="btn btn-sm delete-btn">Eliminar</a>
                        </td>
                    </tr>
                    <tr>
                        <td>11</td>
                        <td>Colgate Classic</td>
                        <td>Hilo dental</td>
                        <td>Colgate-Palmolive</td>
                        <td>₡3,800</td>
                        <td>11</td>
                        <td>
                            <a asp-controller="Home" asp-action="ModificarProducto" asp-route-id="11" class="btn btn-sm edit-btn">Modificar</a>
                            <a asp-action="Delete" asp-route-id="11" class="btn btn-sm delete-btn">Eliminar</a>
                        </td>
                    </tr>
                    <tr>
                        <td>12</td>
                        <td>Johnson & Johnson Reach</td>
                        <td>Hilo dental</td>
                        <td>Johnson & Johnson</td>
                        <td>₡3,50</td>
                        <td>4</td>
                        <td>
                            <a asp-controller="Home" asp-action="ModificarProducto" asp-route-id="12" class="btn btn-sm edit-btn">Modificar</a>
                            <a asp-action="Delete" asp-route-id="12" class="btn btn-sm delete-btn">Eliminar</a>
                        </td>
                    </tr>
                    <tr>
                        <td>13</td>
                        <td>Gum Soft Picks</td>
                        <td>Hilo dental</td>
                        <td>Sunstar Americas</td>
                        <td>₡2,250</td>
                        <td>8</td>
                        <td>
                            <a asp-controller="Home" asp-action="ModificarProducto" asp-route-id="13" class="btn btn-sm edit-btn">Modificar</a>
                            <a asp-action="Delete" asp-route-id="13" class="btn btn-sm delete-btn">Eliminar</a>
                        </td>
                    </tr>
                    <tr>
                        <td>14</td>
                        <td>Oral-B CrossAction</td>
                        <td>Cepillo dental</td>
                        <td>Protector & Gamble</td>
                        <td>₡2,850</td>
                        <td>3</td>
                        <td>
                            <a asp-controller="Home" asp-action="ModificarProducto" asp-route-id="14" class="btn btn-sm edit-btn">Modificar</a>
                            <a asp-action="Delete" asp-route-id="14" class="btn btn-sm delete-btn">Eliminar</a>
                        </td>
                    </tr>
                    <tr>
                        <td>15</td>
                        <td>Oral-B iO Series</td>
                        <td>Cepillo dental</td>
                        <td>Protector & Gamble</td>
                        <td>₡4,000</td>
                        <td>8</td>
                        <td>
                            <a asp-controller="Home" asp-action="ModificarProducto" asp-route-id="15" class="btn btn-sm edit-btn">Modificar</a>
                            <a asp-action="Delete" asp-route-id="15" class="btn btn-sm delete-btn">Eliminar</a>
                        </td>
                    </tr>
                    <tr>
                        <td>16</td>
                        <td>Colgate 360</td>
                        <td>Cepillo dental</td>
                        <td>Colgate-Palmolive</td>
                        <td>₡3,500</td>
                        <td>5</td>
                        <td>
                            <a asp-controller="Home" asp-action="ModificarProducto" asp-route-id="16" class="btn btn-sm edit-btn">Modificar</a>
                            <a asp-action="Delete" asp-route-id="16" class="btn btn-sm delete-btn">Eliminar</a>
                        </td>
                    </tr>
                    <tr>
                        <td>17</td>
                        <td>Colgate Optic White</td>
                        <td>Cepillo dental</td>
                        <td>Colgate-Palmolive</td>
                        <td>₡2,800</td>
                        <td>2</td>
                        <td>
                            <a asp-controller="Home" asp-action="ModificarProducto" asp-route-id="17" class="btn btn-sm edit-btn">Modificar</a>
                            <a asp-action="Delete" asp-route-id="17" class="btn btn-sm delete-btn">Eliminar</a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <h3>Servicios</h3>
            <div class="mb-3 text-end">
                <a asp-controller="Home" asp-action="AgregarServicio" class="btn btn-primary" style="background-color: #66b2ff; color: #FFFFFF;">Agregar Servicio</a>
            </div>
            <table class="table table-striped">
                <thead style="background-color: #003366; color: #FFFFFF;">
                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Precio</th>
                        <th>Propósito</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Limpieza</td>
                        <td>₡65,000</td>
                        <td>Limpieza de los dientes.</td>
                        <td>
                            <a asp-controller="Home" asp-action="ModificarServicio" asp-route-id="1" class="btn btn-sm edit-btn">Modificar</a>
                            <a asp-action="Delete" asp-route-id="1" class="btn btn-sm delete-btn">Eliminar</a>
                        </td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Radiografías</td>
                        <td>₡25,000</td>
                        <td>Radiografía para conocer el estado de los dientes.</td>
                        <td>
                            <a asp-controller="Home" asp-action="ModificarServicio" asp-route-id="2" class="btn btn-sm edit-btn">Modificar</a>
                            <a asp-action="Delete" asp-route-id="2" class="btn btn-sm delete-btn">Eliminar</a>
                        </td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Ortodoncia</td>
                        <td>₡2,500,000</td>
                        <td>Tratamientos de ortodoncia.</td>
                        <td>
                            <a asp-controller="Home" asp-action="ModificarServicio" asp-route-id="3" class="btn btn-sm edit-btn">Modificar</a>
                            <a asp-action="Delete" asp-route-id="3" class="btn btn-sm delete-btn">Eliminar</a>
                        </td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>Cirugías</td>
                        <td>₡1,800,000</td>
                        <td>Cirugías dentales.</td>
                        <td>
                            <a asp-controller="Home" asp-action="ModificarServicio" asp-route-id="4" class="btn btn-sm edit-btn">Modificar</a>
                            <a asp-action="Delete" asp-route-id="4" class="btn btn-sm delete-btn">Eliminar</a>
                        </td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>Extracciones</td>
                        <td>₡100,000</td>
                        <td>Extracciones dentales.</td>
                        <td>
                            <a asp-controller="Home" asp-action="ModificarServicio" asp-route-id="5" class="btn btn-sm edit-btn">Modificar</a>
                            <a asp-action="Delete" asp-route-id="5" class="btn btn-sm delete-btn">Eliminar</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

    <style>
        .users-container {
            margin-top: 20px;
            background-color: #F8F9FA;
            padding: 20px;
        }

        .card {
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            border: 1px solid #E6E6E6;
        }

        .card-header {
            background-color: #003366;
            color: #FFFFFF;
            font-size: 1.5rem;
        }

    .edit-btn,
    .delete-btn {
        background-color: #66b2ff;
        color: #FFFFFF;
        border: none;
        transition: background-color 0.3s ease, transform 0.2s ease;
    }

        .edit-btn:hover,
        .delete-btn:hover {
            background-color: #003366;
            transform: scale(1.05);
        }
        }
    </style>